body { padding-top: 100px; }

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}

li{
  float:right;
}

li>p{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

h3{
  font-family: Arial;
  margin-left: 3em;
}

td{
    border:1px solid #000;
}

tr td:last-child{
    width:1%;
    margin-left: 1em;
    margin-right: 1em;
}

h4{
  margin-top:3em;
  text-align: center;
}

.affirm {
  background: #EC771D;
  color: white;
  border-radius: 7px;
  font-family: Arial;
  font-size: 1.5em;
  padding: 1em 10em;
  margin-top:1em;
  margin-left:5em;
  float: left;
}

.affirm:focus{
  outline:none;
}

.reverse {
  background: #000000;
  color: white;
  border-radius: 7px;
  font-family: Arial;
  font-size: 1.5em;
  padding: 1em 10em;
  margin-top:1em;
  margin-right:5em;
  float: right;
}

.reverse:focus{
  outline:none;
}
