body { padding-top: 100px; }

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}

li{
  float:right;
}

li>p{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

h3{
  font-family: Arial;
  margin-left: 3em;
}

td{
    border:1px solid #333333;
    padding: 1em;
    border-radius: 5px;
}

tr td:last-child{
    width:1%;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
}

h5{
  margin-top:3em;
}

#outer{
  width: 100%;
  text-align: center;
}

.inner{
  margin-top:1em;
  display: inline-block;
}

.affirm {
  background: #EC771D;
  color: white;
  border-radius: 7px;
  border-color:#EC771D;
  width:50em;
}

.affirm:focus{
  outline:none;
}

.affirm:hover{
  background-color: #FF7619;
  color:white;
}

.reverse {
  background: #000000;
  color: white;
  border-radius: 7px;
  border-color:#000000;
  width:50em;
}

.reverse:focus{
  outline:none;
}

.reverse:hover{
  color:white;
  background-color: #333333;
}
