body { padding-top: 100px; }

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}

li{
  float:right;
}

td{
    border:1px solid #333333;
    padding: 1em;
    border-radius: 5px;
}

tr td:last-child{
    width:.5%;
    margin-left: 1em;
    margin-right: .5em;
    border-radius: 5px;
}

h3{
  font-family: Arial;
  margin-left: 3em;
}

h5{
  margin-top:2em;
}

.buttons{
  margin-top: 2em;
  width: 100%;
  text-align: center;
}

.btn-affirm{
  background: #EC771D;
  border: 1px solid #EC771D;
  color: white;
}

.btn-affirm:focus{
  outline:none;
}

.btn-affirm:hover{
  background: #FF7619;
  border: 1px solid #FF7619;
  color: white;
}

.btn-reverse{
  background: #191919;
  border: 1px solid #191919;
  color: white;
}

.btn-reverse:focus{
  outline: none;
}

.btn-reverse:hover{
  background: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: white;
}
