.top{
  color:#BCC6CC;
  font-family: "Garamond","advocate-c43";
  text-decoration: none;
  text-align: center;
}

header .upload{
  font-weight:"500";
  margin:0;
}

button{
  background: #00b300;
  color: #fff;
  font-family: Sans-serif;
  font-size: 20px;
  height: 60px;
  width: 150px;
  line-height: 60px;
  margin: 25px 25px;
  text-align: center;
  border-radius:2px;
  border: 0;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: #00a000;
}
