body { padding-top: 100px; }

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}

li{
  float:right;
}

li>p{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

h3{
  display: inline-block;
}

td{
    border:1px solid #333333;
    padding: 1em;
    border-radius: 5px;
}

tr td:last-child{
    width:.5%;
    margin-left: 1em;
    margin-right: .5em;
    border-radius: 5px;
}

.block{
  font-size: .75em;
}

table{
  margin-bottom:1em;
}

.table{
  border-collapse:separate;
}
