body { padding-top: 100px; }

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
}

li{
  float:right;
}

table{
  border-collapse: separate;
  border-spacing: 1em;
  margin-left: 1em;
  background-position: left;
}

tr{
  border-radius: 5px;
}

#case:hover{
  background-color:#f5f5f5
}

tr td:last-child{
    width:.5%;
    margin-left: 1em;
    margin-right: .5em;
    border-radius: 5px;
}

th{
  color: black;
  border-top: none !important;
}

#case{
  font-size: 1em;
  /*padding: 1em;*/
  border-radius: 5px;
  background-color: white;
}

h4>a{
  color: #3a3a3a;
  text-decoration: none;
  font-size: 1.5em;
}

h4>a:hover{
  text-decoration: none;
  color: #FF7619;
}
