* { box-sizing:border-box; }

.highlight{
  position: absolute;
  height: 50%;
  width: 400px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

hgroup {
	text-align:center;
	margin-top: 4em;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}

input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #FF7619;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

body {
	font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}

hgroup {
	text-align:center;
	margin-top: 2em;
}

form{
  width: 500px;
	margin: 6em auto;
	padding: 3em 3em 3em 3em;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #d3d3d3;
  margin-top:1em;
}

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 2em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid;
  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;
}

.buttonOrange {
  background: #EC771D;
  border-radius: 7px;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  font-family: Arial;
  font-size: 1em;
  margin-top: 3em;
}

.fbbtn{
  background: #3276b1;
  border-radius: 7px;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  font-family: Arial;
  font-size: 1em;
  margin-top: 2em;
}

.fbbtn:hover{
  background: #275b89;
}

.buttonOrange:hover{
  background: #FF7619;
}

h4{
  text-align: center;
  font-family: Arial;
  color: #919191;
}

h4>a:hover{
  color: #FF9933;
}

h4>a{
  text-decoration: none;
  font-family: sans-serif;
  color: #757575;
}

h5{
  width:100%;
  text-align: center;
  border-bottom:1px solid #9B9B9B;
  line-height: 0.1em;
  margin-top: 3em;
}

h5 span{
  background: #ffffff;
  padding: 0 10px;
  color: #9B9B9B;
}
