<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Case</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/caseformat.css">
	</head>
	<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="../logo/LAWLIPOPS_WHITE.png" height="30" width="175">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<form class="navbar-form navbar-left" role="search" action="/search" method="GET">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="query" class="form-control" placeholder="Search for...">
								<span class="input-group-btn">
									<!-- <button class="btn btn-default" type="submit">Go!</button> -->
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
								</span>
							</div>
						</div>
					</form>
					{{if .UserLoggedIn}}
					<li><p class="navbar-text">Hello, {{.CurrentUser.Username}} </p></li>
					<!-- <li class="divider-vertical"></li> -->
					<li><p class="navbar-text">Score: {{.CurrentUser.Score}} </p></li>
					<!-- <li class="divider-vertical"></li> -->
					<li><a class="nav navbar-nav " href="/account"><i class= "glyphicon glyphicon-user fa-fw"></i>My Account</a></li>
					<!-- <li class="divider-vertical"></li> -->
					<li><a class="nav navbar-nav" href="/logout">Log Out</a></li>
					{{else}}
					<li><a class="nav navbar-nav" href="/login">Login</a></li>
					{{end}}
				</ul>
			</div>
		</div>
	</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{{if ne .Error ""}}<div class="alert alert-danger text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{.Error}}</div>{{end}}
					{{if ne .Message ""}}<div class="alert alert-info text-center" role="alert"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{.Message}}</div>{{end}}
				</div>
			</div>
			{{range $cases := .Cases}}
			<div class="col-md-12">
				<div class="page header">
					<!-- <h3><b>{{$cases.Title}}</b><h3> -->
					<h2>{{$cases.Title}} <small>{{$cases.Date}}</small><h2>
				</div>
			</div>
			<!-- <table style="width: 80%" table align="center">
				<tr>
				    <td class="block">{{$cases.Summary}}</td>
				</tr>
			</table> -->
			<div class="row">
				<div class="col-md-12">
					<p class="lead">
						{{$cases.Summary}}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h4>Files</h4>
					<!-- <small>File: </small> -->
					<a href="/files/{{$cases.FileFor}}">{{$cases.FileFor}}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- <h5>Do you think the court will affirm or reverse the decision?</h5> -->
					<br>
					<h4>Do you think the court will <strong>affirm</strong> or <strong>reverse</strong> the decision?</h4>
				</div>
				<div class="buttons col-md-12">
					<form id="confirmation" class="" action="/cases/{{$cases.ID}}" method="POST">
						<div class="form-group col-md-6">
							<button type="submit" name="affirm" value="affirm-{{$cases.ID}}" class="btn btn-affirm btn-lg btn-block">Affirm</button>
						</div>
						<div class="form-group col-md-6">
							<button type="submit" name="reverse" value="reverse-{{$cases.ID}}" class="btn btn-reverse btn-lg btn-block">Reverse</button>
						</div>
					</form>
			    </div>
		    </div>
		    {{end}}
		</div>
	</body>
</html>
