<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="caseformat.css">
    <div class="top">
        <h2><a href="/">LAWliPOPS</a></h2>
    </div>
    <hr />
</head>

<body background="justice.png">
    <h3 class="title">{{.Title}}</h3>
    <p class="summary">{{.Summary}}</p>
    <p class="for">For: {{.FileFor}}</p>
    <p class="against">Against: {{.FileAgainst}}</p>
    <label class="ques">Do you think the court will affirm or reverse the decision?</label>
    <br />
    <br />
    <div class="btns">
    <button>Affirm</button>
    <button>Reverse</button>
  </div>
</body>

</html>
