<!DOCTYPE html>
<html>

<head>
    <div>
        <h2><a href="/">Lawlipops</a></h2>
    </div>
    <hr />
    <!-- <br /> -->
    <!-- <strong><label>Title: </label></strong> -->
</head>

<body>
  <h3></h3>
    <h3>{{.Title}}</h3>
    <!-- <strong><label>Summary: </label></strong> -->
    <p>{{.Summary}}</p>
    <!-- <strong><label>File for path: </label></strong> -->
    <p>For: {{.FileFor}}</p>
    <!-- <strong><label>File against path: </label></strong> -->
    <p>Against: {{.FileAgainst}}</p>
    <!-- <strong><label>Date created: </label></strong> -->
    <!-- <p>{{.Date}}</p> -->
    <!-- <strong><label>IsArchived: </label></strong> -->
    <!-- <p>{{.Archived}}</p> -->
    <!-- <strong><label>Decision: </label></strong> -->
    <!-- <p>{{.Decision}}</p> -->
    <label>Do you think the court will affirm or reverse the decision?</label>
    <br />
    <br />
    <button>Affirm</button>
    <button>Reverse</button>
</body>

</html>
