<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
	</head>
	<body>
		<div class="container">
			<h2>Admin Dashboard</h2>
			<h4>Cases</h4>
			<!-- <form id="dashboard" class="form-inline" action="/" method="POST"> -->
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Title</th>
							<th>File For</th>
							<th>File Against</th>
							<th>Decision</th>
							<th>Edit</th>
							<th>View</th>
							<th><span class="glyphicon glyphicon-trash"></span></th>
						</tr>
					</thead>
					<tbody>
						{{range $cases := .Cases}}
							<tr>
								<td>{{$cases.ID}}</td>
								<td>{{$cases.Date}}</td>
								<td>{{$cases.Title}}</td>
								<td>{{$cases.FileFor}}</td>
								<td>{{$cases.FileAgainst}}</td>
								<td>
									<form id="dashboard" class="form-inline" action="/" method="POST">
										<button type="submit" class="btn btn-success btn-xs" name="affirm" value="affirm-{{$cases.ID}}" aria-label="affirm" form="dashboard"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
										<button type="submit" class="btn btn-warning btn-xs" name="reverse" value="reverse-{{$cases.ID}}" aria-label="reverse" form="dashboard"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
									</form>
								</td>
								<td>
									<!-- <form id="dashboard" class="form-inline" action="/" method="POST"> -->
										<button type="button" class="btn btn-info btn-xs edit" name="show-edit" aria-label="edit" onclick="showEditForm(event)">Edit</button>
									<!-- </form> -->
								</td>
								<td>
									<a class="btn btn-default btn-xs" role="button" href="/cases/{{$cases.ID}}">View</a>
								</td>
								<td>
									<form id="dashboard" class="form-inline" action="/" method="POST">
										<button type="submit" class="btn btn-danger btn-xs" name="delete" value="delete-{{$cases.ID}}" aria-label="delete" form="dashboard"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
									</form>
								</td>
							</tr>
							<tr class="collapse out">
								<form class="form-inline" action="/" method="POST">
									<td>
										Editing: {{$cases.Title}}
									</td>
									<td>
										<div class="form-group">
									    <label class="control-label" for="title">Title</label>
									    <input type="text" class="form-control" name="title" value="{{$cases.Title}}">
									  </div>
									</td>
									<td>
										<div class="form-group">
									    <label class="control-label" for="summary">Summary</label>
									    <input type="text" class="form-control" name="summary" value="{{$cases.Summary}}">
									  </div>
									</td>
									<td>
										<div class="form-group">
											<label class="control-label" for="file-for">File For</label>
											<input type="file" name="file-for" id="file-for">
										</div>
									</td>
									<td>
										<div class="form-group">
											<label class="control-label" for="file-against">File Against</label>
											<input type="file" name="file-against" id="file-against">
										</div>
									</td>
									<td>
										<button class="btn btn-primary" type="submit" name="save" value="save-{{$cases.ID}}">Save</button>
									</td>
								<!-- </form> -->
							</tr>
						{{end}}
						<!-- <tr class="success">
							<td>
								<strong>Add new case</strong>
							</td>
							<td>
								<input type="text" name="title" placeholder="Title">
							</td>
							<td>
								<input type="text" name="summary" placeholder="Summary">
							</td>
							<td>
								<input type="file" name="file-for">
							</td>
							<td>
								<input type="file" name="file-against">
							</td>
							<td>
								<input class="btn btn-xs btn-primary" type="submit" name="submit" value="Submit">
							</td>
						</tr> -->
					</tbody>
				</table>
				<button onclick="showHideForm()" type="button" name="add-case" id="add-case" class="btn btn-success"><span id="add-span" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Case</button>
			</form>
			<form class="form-horizontal" id="new-case" action="/" method="post">
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<h4>Add new case</h4>
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Title</label>
					<div class="col-sm-10">
						<input type="text" name="title" id="title">
					</div>
				</div>
				<div class="form-group">
					<label for="summary" class="col-sm-2 control-label">Summary</label>
					<div class="col-sm-10">
						<!-- <input type="text" name="summary" id="summary"> -->
						<textarea name="summary" id="summary" rows="8" cols="40"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="file-for">File For</label>
					<div class="col-sm-10">
						<input type="file" name="file-for" id="file-for">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="file-against">File Against</label>
					<div class="col-sm-10">
						<input type="file" name="file-against" id="file-against">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input class="btn btn-primary" type="submit" name="submitNewCase" value="Add">
					</div>
				</div>
			</form>
			<!-- <form class="form-inline bg-success" id="new-case" action="index.html" method="post">
				<h4>Add new case</h4>
				<div class="form-group">
					<label for="title" class="control-label">Title</label>
						<input type="text" name="title" id="title">
				</div>
				<div class="form-group">
					<label for="summary" class="control-label">Summary</label>
					<input type="text" name="summary" id="summary">
				</div>
				<div class="form-group">
					<label class="control-label" for="file-for">File For</label>
					<input type="file" name="file-for" id="file-for">
				</div>
				<div class="form-group">
					<label class="control-label" for="file-against">File Against</label>
					<input type="file" name="file-against" id="file-against">
				</div>
				<div class="form-group">
					<input class="btn btn-primary" type="submit" name="submitNewCase" value="Add">
				</div>
			</form> -->
		</div>
		<script type="text/javascript">
			addButton = document.getElementById('add-case')
			addButtonSpan = document.getElementById('add-span');
			newCaseForm = document.getElementById('new-case');
			newCaseForm.style.visibility = "hidden";
			newCaseFormVisible = true;

			// editButtons[] = document.getElementsByClassName('edit')
			// for (var i = 0; i < editButtons.length; i++) {
			// 	editButtons[i].addEventListener("click", showEditForm)
			// }

			function showHideForm(){
				console.log(newCaseFormVisible);
				if (newCaseFormVisible) {
					newCaseForm.style.visibility = "visible"
					addButton.className = "btn btn-danger"
					addButtonSpan.className = "glyphicon glyphicon-minus"
				} else {
					newCaseForm.style.visibility = "hidden"
					addButton.className = "btn btn-success"
					addButtonSpan.className = "glyphicon glyphicon-plus"
				}
				newCaseFormVisible = !newCaseFormVisible
			}

			function showEditForm(e){
				// console.log(e);
				formRow = e.path[2].nextElementSibling;
				if (formRow.className == "collapse in") {
					formRow.className = "collapse out"
				} else {
					formRow.className = "collapse in"
				}
			}

		</script>
	</body>
</html>
