<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
	    <link rel="stylesheet" href="../css/indexformat.css">
	</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="../logo/LAWLIPOPS_WHITE.png" height="30" width="175">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<form class="navbar-form navbar-left" role="search" action="/search" method="GET">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="query" class="form-control" placeholder="Search for...">
								<span class="input-group-btn">
									<!-- <button class="btn btn-default" type="submit">Go!</button> -->
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
								</span>
							</div>
						</div>
					</form>
					{{if .UserLoggedIn}}
					<li>
						<p class="nav navbar-nav ">HELLO, {{.CurrentUser.Username}} </p>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<p class="nav navbar-nav">SCORE: {{.CurrentUser.Score}} </p>
					</li>
					<li class="divider-vertical"></li>
					<li><a class="nav navbar-nav " href="/account"><i class= "glyphicon glyphicon-user fa-fw"></i>MY ACCOUNT</a></li>
					<li class="divider-vertical"></li>
					<li><a class="nav navbar-nav" href="/logout">LOG OUT</a></li>
					{{else}}
					<li><a class="nav navbar-nav" href="/login">LOGIN</a></li>
					{{end}}
				</ul>
			</div>
		</div>
	</nav>
	<div class="containter">
		<div class="row case">
			<div class="col-md-6">
				<table style="width: 75%" table align="left" class="table">
					<tr>
						<th><h1><b>Cases:</b></h1></th>
					</tr>
					<tr>
					{{range $cases := .Cases}}
					{{if eq $cases.Archived "0" }}
				    <td id="case"><div><h4><a href="/cases/{{$cases.ID}}"><b>{{$cases.Title}}</b></h4></a></div>{{$cases.Summary}}</td>
					</tr>
					{{end}}
					{{end}}
				</table>
			</div>
			<div class="col-md-6">
				<table style="width: 75%" table align="left" class="table">
					<tr>
						<th><h1><b>Challenges:</b></h1></th>
					</tr>
					<tr>
					{{range $challenges := .Challenges}}
					{{if eq $challenges.Archived "0" }}
				    <td id="challenge"><div><h4><a href="/challenges/{{$challenges.ID}}"><b>{{$challenges.Title}}</b></h4></a></div>{{$challenges.Summary}}</td>
					</tr>
					{{end}}
					{{end}}
				</table>
			</div>
		</div>
	</div>
</body>
</html>
