<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/indexformat.css">
	</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="../logo/LAWLIPOPS_WHITE.png" height = "40" width="175">
        </a>
      </div>
      <ul>
        <li><p class="navbar-text navbar-right">   </p></li>
        <li><p class="navbar-text navbar-right"> LOG OUT </p></li>
        <li><p class="navbar-text navbar-right"> MY ACCOUNT </p></li>
        <li><p class="navbar-text navbar-right"> SCORE: 0 </p></li>
        <li><p class="navbar-text navbar-right"> HELLO, USER </p></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
       <h3><b>Cases:</b><h3>
    </div>
    <div class="col-sm-3">
       <h3><b>Challenges:</b><h3>
    </div>
  </div>
	<div class="row">
		<div class="col-sm-6">
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>

	</div>
	<div class="row">
		<div class="col-sm-6">
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>
		<table style="width: 60%" table align="center" class="table">
		<tr>
		    <td class="block">Holding: A California woman’s lawsuit against the Austrian national railroad for injuries that she suffered while attempting to board a train in Austria does not fall within the “commercial activity” exception to the Foreign Sovereign Immunities Act, and is therefore barred by the doctrine of sovereign immunity. Although the plaintiff purchased a Eurail pass in the United States, her lawsuit is not “based upon a commercial activity carried on in the United States by a foreign state” because the conduct constituting the gravamen of her suit occurred in Austria.</td>
		</tr>
		</table>
	</div>
	</div>
</body>
</html>
