<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/indexformat.css">
	   <title>Lawlipops</title>
	<!-- <div class="top">
		<h2><a href="/">Lawlipops</a></h2>

	</div> -->
	<!-- <hr /> -->
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="/">LAWliPOPS</a>
  		</div><!-- Brand -->
  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  			<ul class="nav navbar-nav">
  				<!-- <li><a href="/cases">Cases</a></li>
  				<li><a href="/challenges">Challenges</a></li> -->
  			</ul>
  			<ul class="nav navbar-nav navbar-right">
  				{{if .UserLoggedIn}}<p class="navbar-text">Hello, {{.CurrentUser.Nickname}}</p>{{end}}
  				{{if .UserLoggedIn}}<p class="navbar-text">Score: {{.CurrentUser.Score}}</p>{{end}}
  				<!-- <p>
  					{{if .UserLoggedIn}}
  						<a href="/logout">Logout</a>  <a href="/account">Account</a>
  					{{else}}
  						<a href="/login">Login</a>
  					{{end}}
  				</p> -->
  				{{if .UserLoggedIn}}
  				<li><a href="/account">My Account</a></li>
  				<li><a href="/logout">Log out</a></li>
  				{{else}}
  				<li><a href="/login">Login</a></li>
  				{{end}}
  			</ul>
  		</div><!-- /.navbar-collapse -->
  	</div>
  </nav> <!-- /Navbar -->
	<header class="container">
		<!-- <div class="row"> -->
			<!-- <h1 class="col-sm-13">
				<div class="upload"><button type="button">Upload a file</button>
        </div>
			</h1> -->
  <div class="row">
    <div class="col-md-6">
      <h3 class ="cases">Cases</h3>
      <ul class="nav nav-tabs" role="tablist">
        <li id="cases-pending-tab" role="presentation" class="active"><a href="#cases-pending" aria-controls="cases-pending" role="tab" data-toggle="tab">Pending</a></li>
        <li id="cases-decided-tab" role="presentation"><a href="#cases-decided" aria-controls="cases-decided" role="tab" data-toggle="tab">Decided</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="cases-pending">
          <div class="list-group">
            {{range $cases := .Cases}}
              {{if eq $cases.Archived "0" }}
              <a href="/cases/{{$cases.ID}}" class="list-group-item">
                <h4 class="list-group-item-heading">{{$cases.Title}}</h4>
            		<p class="list-group-item-text">{{$cases.Summary}}</p>
              </a>
              {{end}}
        		{{end}}
      	  </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="cases-decided">
          <div class="list-group">
            {{range $cases := .Cases}}
              {{if eq $cases.Archived "1" }}
              <a href="/cases/{{$cases.ID}}" class="list-group-item">
                <h4 class="list-group-item-heading">{{$cases.Title}}</h4>
            		<p class="list-group-item-text">{{$cases.Summary}}</p>
              </a>
              {{end}}
        		{{end}}
      	  </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    	<h3>Challenges</h3>
    	<uL>
    		<!-- TODO: List all of the challenges -->
    	</uL>
    </div>
  </div>
</header>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript">
  $('#cases-pending-tab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })

  $('#cases-decided-tab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.native/1.0.2/bootstrap-native.min.js"></script> -->
</body>
</html>
