<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
	</head>
	<body>
		<!-- Navbar -->
	  <nav class="navbar navbar-default">
	  	<div class="container-fluid">
	  		<div class="navbar-header">
	  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	  				<span class="sr-only">Toggle navigation</span>
	  				<span class="icon-bar"></span>
	  				<span class="icon-bar"></span>
	  				<span class="icon-bar"></span>
	  			</button>
	  			<a class="navbar-brand" href="/">LAWliPOPS</a>
	  		</div><!-- Brand -->
	  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  			<ul class="nav navbar-nav">
	  				<!-- <li><a href="/cases">Cases</a></li>
	  				<li><a href="/challenges">Challenges</a></li> -->
	  			</ul>
	  			<ul class="nav navbar-nav navbar-right">
	  				{{if .UserLoggedIn}}<p class="navbar-text">Hello, {{.CurrentUser.Nickname}}</p>{{end}}
	  				{{if .UserLoggedIn}}<p class="navbar-text">Score: {{.CurrentUser.Score}}</p>{{end}}
	  				<!-- <p>
	  					{{if .UserLoggedIn}}
	  						<a href="/logout">Logout</a>  <a href="/account">Account</a>
	  					{{else}}
	  						<a href="/login">Login</a>
	  					{{end}}
	  				</p> -->
	  				{{if .UserLoggedIn}}
	  				<li><a href="/account">My Account</a></li>
	  				<li><a href="/logout">Log out</a></li>
	  				{{else}}
	  				<li><a href="/login">Login</a></li>
	  				{{end}}
	  			</ul>
	  		</div><!-- /.navbar-collapse -->
	  	</div>
	  </nav> <!-- /Navbar -->
		<div class="container">
			<h3>Register New Account</h3>
			<div id="danger-message" class="alert alert-danger" role="alert">{{.Error}}</div>
			<div id="warning-message" class="alert alert-warning" role="alert">{{.Message}}</div>
			<form class="form-horizontal" action="/register" method="POST">
				<div class="form-group">
			    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputUsername" placeholder="Username" required="" name="username">
			    </div>
			  </div>
				<div class="form-group">
			    <label for="inputNickname" class="col-sm-2 control-label">Nickname</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputNickname" placeholder="Nickname" name="nickname">
			    </div>
			  </div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
				    <input type="email" class="form-control" id="inputEmail" placeholder="example@domain.com" required="" name="email">
				  </div>
				</div>
				<div class="form-group">
			    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="inputPassword" placeholder="Password" required="" name="password">
			    </div>
			  </div>
				<button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button>
				<!-- <button type="submit" class="btn btn-default">Cancel</button> -->
				<a class="btn btn-default" href="/" role="button">Cancel</a>
			</form>
		</div>
	</body>
</html>
