<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Upload</title>
</head>

<body>
  <div class="container">
    <h1>File Upload Demo</h1>
    <p><a href="/">Home</a></p>
    <div class="message">{{.Message}}</div>
    <form class="form-signin" method="POST" action="/upload" enctype="multipart/form-data">
      <fieldset>
        <input type="file" name="myfiles" id="myfiles" multiple="multiple">
        <input type="submit" name="submit" value="Submit">
      </fieldset>
    </form>
  </div>
  <div id="Files">
    <br>
    <table border="1">
      {{with .Files}}
      <tr>
        <td>ID</td>
        <td>Path</td>
        <td>Flag</td>
      </tr>
      {{range .}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Path}}</td>
        <td>{{.Flag}}</td>
      </tr>
      {{end}} {{end}}
    </table>
  </div>
</body>

</html>
