<html>
<head>
    <title></title>
</head>
<body>
    <!-- <form action="/upload/" method="post">
        File: <input type="file" name="file" />
        <input type="submit" value="Submit" />
    </form> -->
    <div class="container">
      <h1>File Upload Demo</h1>
      <div class="message">{{.Message}}</div>
      <form class="form-signin" method="POST" action="/upload/" enctype="multipart/form-data">
        <fieldset>
            <input type="file" name="myfiles" id="myfiles" multiple="multiple">
            <input type="submit" name="submit" value="Submit">
        </fieldset>
      </form>
    </div>
    <div id="Files">
        {{with .Files}}
            {{range .}}
            <p>{{.ID}}  {{.Path}}  {{.Flag}}</p>
            {{end}}
        {{end}}
    </div>
</body>
</html>
